doctype html
html(lang='en')
  head
    meta(charset='utf-8')   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Gym App')
    meta(name='author', content='Rohit Lalchandani')
    
    meta(name="theme-color" content="#EE6E73")
    
    link(href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/css/materialize.css', rel='stylesheet')
    
    // Custom Styles - Set Height of Splashpage
    style.
      main {
        height: 90vh;
        background-color: #ee6e73;
      }
      footer.page-footer {
      	height:10vh;
      }
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      main {
        flex: 1 0 auto;
      }
    
    script(src="//cdn.transifex.com/live.js")

    title GymRec

  body(bgcolor='#ee6e73')
    
    main
      .section.no-pad-bot#index-banner
        .container
          h2.header.center-on-small-only GymRec
          br
          br
          br
          br
          .row.center
            h4.header.col.s12.light.center Welcome to the future of gym analytics.
            h6.header.col.s12.light.center Have you ever wanted to visualize your progress?
          .row.center
            a#download-button.btn-large.waves-effect.waves-light(href='/dashboard') Get Started
          .row.center
            a.red-text.text-lighten-4 0.8.0
          .row.center
            a.white-text Currently in Production
                    
    footer.page-footer
      .footer-copyright
        .container Rohit Lalchandani | Berkeley EECS
            
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="/js/materialize.min.js")
    script(src='/js/init.js')
