doctype html
html(lang='en')
  head
    meta(charset='utf-8')   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Gym App')
    meta(name='author', content='Rohit Lalchandani')
    
    meta(name="theme-color" content="#EE6E73")
    
    link(href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/css/materialize.css', rel='stylesheet')
    link(href='/css/side_nav_fixed.css', rel='stylesheet')
    
    script(src="//cdn.transifex.com/live.js")

    title GymRec Dashboard

    body
      header
        .container
          a(href='#' data-activates='nav-mobile' class='button-collapse top-nav waves-effect waves-light circle hide-on-large-only')
            i(class='mdi-navigation-menu') Menu
        ul#nav-mobile.side-nav.fixed
      main
      footer
      
