doctype html
html(lang='en')
  head
    meta(charset='utf-8')   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Gym App')
    meta(name='author', content='Rohit Lalchandani')
    
    meta(name="theme-color" content="#EE6E73")
    
    link(href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/css/materialize.css', rel='stylesheet')
    
    script(src="//cdn.transifex.com/live.js")

    title GymRec

  body(bgcolor='#ee6e73')
    
    header
      .container
        a(href='#' data-activates='nav-mobile' class='button-collapse top-nav waves-effect waves-light circle')
         i(class='mdi-navigation-menu') Menu
      ul#nav-mobile.side-nav
        li.logo
          a#logo-container.brand-logo(href='/') 
            img(src="/images/gym.png" alt="Mountain View" style='width:200px;height:140px;')
        br
        
        li.bold
          a.waves-effect.waves-teal(href='http://www.rohitlalchandani.com') Personal
    
    main
      .section.no-pad-bot#index-banner
        .container
          h1.header.center-on-small-only GymRec
          br
          br
          br
          .row.center
            h5.header.col.s12.light.center Welcome to the future of gym analytics and workout tracking!
          .row.center
            a#download-button.btn-large.waves-effect.waves-light Get Started
          .row.center
            a.red-text.text-lighten-4 0.8.0
          .row.center
            a.white-text Currently in Production
                    
    footer.page-footer
      .container
        .row
          .col.l6.s12
            h6.white-text Coming Soon
      .footer-copyright
        .container Rohit Lalchandani | Berkeley EECS
            
    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="/js/materialize.min.js")
    script(src='/js/init.js')
